<app-header></app-header>
<div class="container-fluid">
  <div class="row" style="height: 150px">

  </div>
  <div class="row justify-content-evenly">
    <div class="col-6 text-center">
      <h2>Cars on display:</h2>
    </div>
  </div>
  <div class="row" style="height: 30px">

  </div>
  <div class="row justify-content-evenly">
    <div class="col-8 text-center">

      <ng-container *ngIf="(listOfCarsToDisplay$ | async) as carsToDisplay" >
      <mat-tab-group>
        <div *ngFor="let car of carsToDisplay; index as i">
          <mat-tab label="{{car.uid}}">
            <app-car-display-block [carData]="car" (carSelected)="onCarSelcted($event)" > </app-car-display-block>
          </mat-tab>
        </div>
      </mat-tab-group>
      </ng-container>

    </div>
  </div>
</div>

